############################
# Build
############################

bin/
obj/

############################
# Visual Studio
############################

.vs/

############################
# Rider
############################

.idea/

############################
# VS Code
############################

.vscode/

############################
# Logs
############################

logs/
*.log

############################
# Publish
############################

publish/

############################
# Database
############################

*.mdf
*.ldf
*.db

############################
# User Secrets
############################

secrets.json

############################
# OS
############################

.DS_Store
Thumbs.db